// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/*-------------------header---------------------*/
.header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 9999;
  height: 60px;
  width: 100vw;
}

.header li{
  margin-right: 30px;
  line-height: 60px;
  color: white;
}

.background-image {
  background-image: url("/images/background.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-p {

}